.side-drawer {
height: 100%;
background-color: #9b9393;
position: fixed;
top: 0;
left: 0;
width: 70%;
max-width: 400px; 
z-index: 100;
transform: translateX(-100%);
transition: 0,3 ease-in-out;
border: 1px solid #000000;

}

.side-drawer.open {
    transform: translateX(0);
}

.ulTabsWrapper2 {

    

        list-style-type: none;
    }
    
    .liTabs {
    display: block;
    cursor: pointer;
    color: white;
    font-weight: 1000;
    font-family: 'Roboto', sans-serif;
    padding: 6%;
    
    }

    @media screen and (min-width: 480px) {
        .liTabs {
            display: inline;
           
        }
      }

      .desktopNavigationTabs2 {
 
  position: absolute;
  margin-top:-15px;
        margin-left: -160px;
        align-items: center;
        
      
    }
    
 